
html.bgimage .slide-background.present {
    opacity: 0.6 ;
}

html.bgimage  p {
    color: black;
    font-weight: bold;
}
html.bgimage ul li {
    color: black;
    font-weight: bold;
}
html.bgimage h2 {
    color: black;
    font-weight: bold;
}
html.bgimage h3 {
    color: black;
    font-weight: bold;
}

